@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #1e4949;
  --pastel-blue-color: #0b2c4a;
  --pastel-lemon-color: #dcb239;
  --light-green-color: #d8f4e8;
  --pastel-peach-color: #ffe3db;
  /* --secondary-color: #001; */
  --background-primary-color: #fff;
  --background-secondary-color: #777;
  --bright-color: #fafafa;
  --dark-color: #222;

  --test-color: #f53145;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.background {
  position: relative;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.705);
}
p {
  padding: 0px 40px;
}
img {
  /* max-width: 300px; */
}

h1,
h2,
h3 {
  padding: 0px 40px;
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  font-weight: 800;
}
h3 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
ul {
  list-style: none;
}

/* Navbar */

.navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.navbar .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 6px;
  width: 100%;
  gap: 120px;
}

.navbar img {
  width: 60px;
  padding-bottom: 10px;
}

.navbar ul li a {
  font-family: "Kalam", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0);
  /* border-bottom: 1px dashed var(--pastel-warm-color); */
}

.navbar ul li a:hover,
.navbar ul li a.current {
  border-bottom: 1px dashed var(--pastel-warm-color);
}
.navbar .header {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.navbar .header h1 {
  color: var(--test-color);
  text-shadow: 2px 2px 3px var(--shadow-color);
  font-size: 4.5rem;
}
.navbar .header p {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.7rem;
}

/* Waves */
.waves {
  display: flex;
  position: relative;
  margin-bottom: 0px;
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 100px;
  margin-top: 60px;
}
.waves .svg_waves {
  transform: rotate(180deg);
  height: 20px;
  width: 100%;
  fill: #ffffff;
  /* fill-rule: evenodd; */
  /* fill-opacity: 0.5; */

  background-color: #1e4949;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* Section - Info */
.info {
  display: flex;
  max-width: 100%;
  height: 600px;
  /* background: rgb(30, 73, 73); */
  /* background: var(--primary-color); */
  background-color: #1e4949;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info .info_left {
  /* color: var(--pastel-peach-color);
   */
  color: #fff;
  flex: 1.5;
}
.info .info_left h2 {
  /* color: #fff; */
}

.info .info_right {
  flex: 1;
  margin-bottom: -5px;
  padding-right: 40px;
}
.info .info_right img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  opacity: 0;
  transform: translate(55px, 0px);
}
img.item.show {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg) translateX(0);
  transition: 600ms ease-in-out;
}
/* --- */
/* Blog */
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-green-color);
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  min-height: 750px;
}
.blog .blog_left {
  flex: 1;
  margin-bottom: -5px;
  padding-left: 40px;
}
.blog .blog_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 10px 1px rgba(34, 34, 34, 0.5);

  opacity: 0;
  transform: translate(-55px, 0px);
}
img.item.show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.blog .blog_right {
  /* align-self: flex-start; */
  padding: 40px 0px;
  flex: 1;
  align-items: left;
  text-align: justify;
}

/* --- */
/* Stickers */

.stickers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  margin: 90px 0px 50px 0px;
  gap: 50px;
}
.stickers h2 {
  align-self: center;
}
.stickers a {
  align-self: center;
}
.stickers .flex_stickers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.stickers img {
  max-width: 250px;
}
.stickers .item {
  opacity: 0;
}
.stickers .item_1 {
  transform: translateX(-100px) rotate(-80deg);
}
.stickers .item_2 {
  /* transform: rotate(40deg); */
  transform: rotate3d(1, 1, 1, 45deg);
}
.stickers .item_3 {
  transform: translateX(100px) rotate(80deg);
}
.item.show {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg) translateX(0);
  transition: 600ms ease-in-out;
}

/* --- */
/* footer */
footer {
}
footer .waves {
}
footer .footer_info {
  background: var(--primary-color);
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  height: 200px;
}
