.container {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  padding: 18px 30px;
  margin: 30px 40px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: var(--primary-color);
  transition: 200ms ease-in-out;
}
.btn:hover {
  background: var(--pastel-lemon-color);
  color: var(--dark-color);
}
.btn_reverse {
  background: var(--light-green-color);
  color: var(--dark-color);
}
.btn_reverse:hover {
  background: var(--pastel-lemon-color);
}
.page_wrap {
  margin-top: -20px;
}

.page_shadow {
  box-shadow: 2px 2px 5px 1px rgba(34, 34, 34, 0.5);
}

/* STICKERSSSS */
/* --- */
/* https://codepen.io/lcdsantos/pen/yaYYqB */
